<emr-layout layoutId="root" windowMode>
  <emr-layout-sidebar>
    <app-sidebar/>
  </emr-layout-sidebar>
  <emr-layout-body class="block">
    <emr-panel>
      <emr-panel-header class="h-14">
        <app-header/>
      </emr-panel-header>
      <emr-panel-body>
        <div class="flex h-full ps-4 pb-4">
          <emr-panel class="shadow-xs grow border border-surface-container rounded-3xl bg-surface-container-lowest"
                     [class.me-4]="sidePanel.isOpen()">
            <emr-panel-header class="h-14 border-b border-b-surface-container">
              <div class="h-full flex items-center px-6">
                <h1 class="font-medium text-lg">{{ title() }}</h1>
              </div>
            </emr-panel-header>
            <emr-panel-body class="px-4 pb-4">
              <router-outlet/>
            </emr-panel-body>
          </emr-panel>
          <emr-side-panel #sidePanel>
            @for (tab of sidebarTemplates(); track $index) {
              <emr-side-panel-tab tabId="user" icon="person" label="User">
                <ng-container *ngTemplateOutlet="tab"></ng-container>
              </emr-side-panel-tab>
            }
          </emr-side-panel>
        </div>
      </emr-panel-body>
    </emr-panel>
  </emr-layout-body>
</emr-layout>
