<emr-sidebar>
  <emr-sidebar-header class="h-18">
    <a routerLink="/" emr-logo>{{ environment.shortAppName }}</a>
    <button mat-icon-button (click)="toggleSidebar()">
      <emr-icon name="ph:list"/>
    </button>
  </emr-sidebar-header>
  <emr-sidebar-body>
    <emr-sidebar-nav [activeKey]="activeKey">
      @for (navItem of navItems(); track navItem) {
        @switch (navItem.type) {
          @case ('link') {
            <a emr-sidebar-nav-item [routerLink]="navItem.link" [key]="navItem.key">
              <ng-container emrSidebarNavItemIcon>
                @if (navItem.icon) {
                  <emr-icon [name]="navItem.icon"/>
                }
              </ng-container>
              {{ navItem.name }}
            </a>
          }
          @case ('divider') {
            <emr-sidebar-nav-divider/>
          }
          @default {
            <emr-sidebar-nav-item>
              <ng-container emrSidebarNavItemIcon>
                @if (navItem.icon) {
                  <emr-icon [name]="navItem.icon"/>
                }
              </ng-container>
              {{ navItem.name }}
            </emr-sidebar-nav-item>
          }
        }
      }
    </emr-sidebar-nav>
  </emr-sidebar-body>
  <emr-sidebar-footer>
    <emr-sidebar-nav [activeKey]="activeKey">
      @for (navItem of footerNavItems(); track navItem) {
        <a emr-sidebar-nav-item [routerLink]="navItem.link" [key]="navItem.key">
          <ng-container emrSidebarNavItemIcon>
            @if (navItem.icon) {
              <emr-icon [name]="navItem.icon"/>
            }
          </ng-container>
          {{ navItem.name }}
        </a>
      }
    </emr-sidebar-nav>
  </emr-sidebar-footer>
</emr-sidebar>
