<div class="flex flex-wrap h-screen mat-typography">
  <div class="flex w-full flex-col md:w-1/2 h-screen">
    <div>
      <a emr-logo routerLink="/" class="mt-7 ms-8">{{ environment.shortAppName }}</a>
    </div>
    <div class="grow px-10 md:px-20 flex items-center justify-center overflow-y-auto">
      <div class="w-[500px]">
        <h2>Set new password</h2>
        <p class="mt-2 text-left text-neutral-500 text-sm">Must be at least 8 characters.</p>
        <form class="flex flex-col pt-3 md:pt-8" [formGroup]="form">
          <mat-form-field class="relative w-full">
            <mat-label>Old password</mat-label>
            <input type="password" matInput formControlName="password" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="relative w-full">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="password" autocomplete="off">
          </mat-form-field>
          @if (form.get('password')?.dirty) {
            <emr-password-strength [password]="passwordValue" class="relative -top-4"></emr-password-strength>
          }
          <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" autocomplete="off">
          </mat-form-field>
          <button mat-flat-button color="primary" type="button"
                  class="!h-12 mt-5" [disabled]="form.invalid" (click)="resetPassword()">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen flex items-center
              justify-center select-none bg-surface-container md:flex md:w-1/2">
    <img class="z-1 max-w-[80%] w-full mx-auto" ngSrc="assets/onboarding/step1.svg" alt="Onboarding" fill>
  </div>
</div>
