<div class="flex flex-wrap h-screen mat-typography">
  <div class="flex w-full flex-col md:w-1/2 h-screen">
    <div>
      <a emr-logo routerLink="/" class="mt-7 ms-8">{{ environment.shortAppName }}</a>
    </div>
    <div class="grow px-10 md:px-20 flex items-center justify-center overflow-y-auto">
      <div class="w-[500px]">
        <h2>Welcome back onboard</h2>
        <p class="mt-2 text-left text-neutral-500 text-sm">Welcome back, please enter your details.</p>
        <form class="flex flex-col pt-3 md:pt-8" [formGroup]="form" (ngSubmit)="signIn()">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput [formControl]="form.controls.username">
            @if (form.controls.username.hasError('required')) {
              <mat-error>
                Username is required.
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="form.controls.password">
<!--            <a routerLink="/auth/forgot-password" matSuffix-->
<!--               class="mr-3 underline-offset-4 text-xs font-semibold text-neutral-800 dark:text-neutral-300 hover:underline hover:text-accent">Forgot?</a>-->
            @if (form.controls.username.hasError('required')) {
              <mat-error>
                Password is required.
              </mat-error>
            }
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit" class="!h-12 mt-5">Log in</button>
        </form>
        <div class="py-12 text-center">
          <p class="whitespace-nowrap text-xs">
            <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Don't have an account?</span>
            <a routerLink="/auth/sign-up" class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent">Sign up for free.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen flex items-center
              justify-center select-none bg-surface-container md:flex md:w-1/2">
    <img class="z-1 max-w-[80%] w-full mx-auto" ngSrc="assets/onboarding/step1.svg" alt="Onboarding" fill>
  </div>
</div>
